.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
RandomFiles/ranFile001.csv
RandomFiles/ranFile002.csv
RandomFiles/ranFile003.csv
RandomFiles/ranFile004.csv
RandomFiles/ranFile005.csv
RandomFiles/ranFile009.csv
RandomFiles/ranFile008.csv
RandomFiles/ranFile007.csv
RandomFiles/ranFile006.csv
RandomFiles/ranFile010.csv
RandomFiles/ranFile011.csv
RandomFiles/ranFile012.csv
RandomFiles/ranFile013.csv
RandomFiles/ranFile014.csv
RandomFiles/ranFile015.csv
RandomFiles/ranFile016.csv
RandomFiles/ranFile017.csv
RandomFiles/ranFile018.csv
RandomFiles/ranFile019.csv
RandomFiles/ranFile020.csv
RandomFiles/ranFile021.csv
RandomFiles/ranFile022.csv
RandomFiles/ranFile023.csv
RandomFiles/ranFile024.csv
RandomFiles/ranFile025.csv
RandomFiles/ranFile026.csv
RandomFiles/ranFile027.csv
RandomFiles/ranFile029.csv
RandomFiles/ranFile028.csv
RandomFiles/ranFile031.csv
RandomFiles/ranFile030.csv
RandomFiles/ranFile032.csv
RandomFiles/ranFile033.csv
RandomFiles/ranFile034.csv
RandomFiles/ranFile035.csv
RandomFiles/ranFile036.csv
RandomFiles/ranFile037.csv
RandomFiles/ranFile038.csv
RandomFiles/ranFile039.csv
RandomFiles/ranFile040.csv
RandomFiles/ranFile041.csv
RandomFiles/ranFile042.csv
RandomFiles/ranFile043.csv
RandomFiles/ranFile044.csv
